ZSOACLient/resource/FactorialIMPL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://max" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://max" xmlns:intf="http://max" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://max" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="s" type="xsd:string"/>
   <element name="okReturn" type="xsd:string"/>
   <element name="no" type="xsd:string"/>
   <element name="getFactorialReturn" type="xsd:string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="okRequest">

      <wsdl:part element="impl:s" name="s">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFactorialRequest">

      <wsdl:part element="impl:no" name="no">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="okResponse">

      <wsdl:part element="impl:okReturn" name="okReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFactorialResponse">

      <wsdl:part element="impl:getFactorialReturn" name="getFactorialReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="FactorialIMPL">

      <wsdl:operation name="ok" parameterOrder="s">

         <wsdl:input message="impl:okRequest" name="okRequest">

       </wsdl:input>

         <wsdl:output message="impl:okResponse" name="okResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFactorial" parameterOrder="no">

         <wsdl:input message="impl:getFactorialRequest" name="getFactorialRequest">

       </wsdl:input>

         <wsdl:output message="impl:getFactorialResponse" name="getFactorialResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FactorialIMPLSoapBinding" type="impl:FactorialIMPL">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="ok">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="okRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="okResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getFactorial">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFactorialRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getFactorialResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FactorialIMPLService">

      <wsdl:port binding="impl:FactorialIMPLSoapBinding" name="FactorialIMPL">

         <wsdlsoap:address location="http://localhost:9494/ASOAServer/services/FactorialIMPL"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
